<h1><%= @album.title %></h1>

<p>by <%= @album.artist.name %></p>

<% if current_artist.id == @album.artist.id %>

  <%= form_with model: @album, html: { multipart: true } do |f| %>

  <% if @album.errors.any? %>
    <div class="error_explanation">
      <%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:
      <br>
      <ul>
        <% @album.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.file_field :track %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
  <% end %>

<% else %>
nuffin muffin
<% end %>

<%= @album.track_file_name %>

<ul>
  <%# @album.each do |trk| %>
    <li><%#= trk.track_file_name %></li>
  <%# end %>
</ul>
