<h1><%= @album.title %></h1>

<p>by <%= @album.artist.name %></p>

<%= image_tag @album.art.url %>

<div class="ptest">
  <% @album.tracks.each do |trk| %>
  <%= raw trk.to_json(
    only:[:title], methods:[:mp3],
  ) %> <%= "," %>
  <% end %>
</div>



<%= render 'jplayer' %>

<%#= render 'trackform' %>



<%= javascript_tag do %>
  songList = <%= raw @album.tracks.to_json(
    only:[:title], methods:[:mp3]
    ) %>
  newSongList = JSON.stringify(songList)
  songInfo = JSON.parse(newSongList)
  allTracks = Array.from(songInfo)
<% end %>
